beautifulsoup4==4.8.0
bs4==0.0.1
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
entrypoints==0.3
flake8==3.7.8
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0
html5lib==1.0.1
httplib2==0.18.0
idna==2.8
mccabe==0.6.1
oauthlib==3.1.0
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycodestyle==2.5.0
pyflakes==2.1.1
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
soupsieve==1.9.3
uritemplate==3.0.0
urllib3==1.25.3
webencodings==0.5.1
